<!DOCT TYPE>
<html>
    <head>
        <!-- EJS = EMBEDDED JAVA SCRIPT-->
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
     </head>
<body>
    <h1><%= title %></h1>
    <p> Welcome to <%= title %></p>
    <!--
        EJS use:
        <%= %> if you are using variables
        <% %> if you are going to use loops
    -->
    <h2>Created by <%= name %></h2>
    <ul>
        <% for(var i = 0;i<10;i++) { %>
        <li><%= i %></li>
       <% } %>
    </ul>
</body>

</html>